# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.
[alias]
        co = checkout
        st = status -sb
        wat     = log origin/master.. -p
        rework  = rebase -i @{u}
        wtf     = !$ZSH/bin/git-wtf
        pb      = !git push btaylor \"$(git rev-parse --abbrev-ref HEAD)\"
        pr      = !hub pull-request -b WhistleLabs:master -h btaylor:$(git rev-parse --abbrev-ref HEAD)
        open    = !open https://github.com/`git ls-remote --get-url origin | cut -f 2 -d @ | cut -f 2 -d ":" | cut -f 1 -d .`
        sweep   = !git branch --merged master | grep -v master | xargs git branch -d
        stahs   = stash
[color]
        diff = false
        status = auto
        branch = auto
[core]
        excludesfile = ~/.gitignore
        pager = view -
[apply]
        whitespace = nowarn
[github]
        user = btaylor
[mergetool]
        keepBackup = false
[user]
        name = Brad Taylor
        email = your@example.com
        initials = bt
